{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <h1>Devices</h1>
        {% if devices %}
        <table class="table">
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>IP Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.IP }}</td>
                    <td>
                        <form action="/add_device_to_room/{{ room.id }}" method="post">
                            <input type="hidden" name="device_name" value="{{ device.device_name }}">
                            <input type="hidden" name="device_IP" value="{{ device.IP }}">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{ msg }}</p>
        {% endif %}

        {% if msg %}
        <p class="msg">{{ msg }}</p>
        {% endif %}

        <a class="btn btn-secondary" href="/rooms">Back</a>
    </div>
</body>
{% endblock %}
