{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <h1>Devices in Room: {{ room.room_name }}</h1>
        {% if devices %}
        <table class="table">
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.status }}</td>
                    <td>
                        {% if device.status %}
                            <a href="/hardware/{{ device.device_name }}">Control</a>
                        {% else %}
                            <button class="btn btn-primary" disabled>Control</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No devices available in this room.</p>
        {% endif %}
        <a class="btn btn-primary" href="/add_device_to_room/{{ room.id }}">Add Device</a>
    </div>
</body>
{% endblock %}
